{
  "presets": [
    ["airbnb", {
      "removePropTypes": true
    }],
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "universal-import",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-dynamic-import",
    [
      "module-resolver", {
        "alias": {
          "components": "./src/components"
        }
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}